ul.main, p, li{
    font-family: 'Courier New', Courier, monospace;
}
ul.main {
    font-size: 10vw;
    color: #551A8B;
    text-decoration: underline;
    padding: 10px;
}
ul.main li{
    margin-bottom: 15vw;
}

h1, h2{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-decoration: #551A8B overline;
}
.child{
   
    width: 33% ;
    height: auto;
}
img{
    width: 100%;
    height: 100%;
}
section{
    width: 60%;
    height: auto;
    
}

.parent{
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 1%;

}

#back {
    margin: 1%;
    font-size: smaller;
}
